<?php

/**
 * Just configure all the items in this config according to your environment
 *
 * @file     config.php
 * @category Authentication
 * @package  PhpCAS
 * @license  http://www.apache.org/licenses/LICENSE-2.0  Apache License 2.0
 * @link     https://wiki.jasig.org/display/CASC/phpCAS
 */

// should not be changed
$phpcas_path = 'vendor/jasig/phpcas/';

///////////////////////////////////////
// Basic Config of the phpCAS client //
///////////////////////////////////////

// Full Hostname of your CAS Server
$cas_host = 'sso.example.com';

// Context of the CAS Server
$cas_context = '/cas';

// Port of your CAS server. Normally for a https server it's 443
$cas_port = 443;

// Path to the ca chain that issued the cas server certificate
// Let's Encrypt default CA
$cas_server_ca_cert_path = 'cachain.pem';
